[Unit]
Description=TrackFleet360 Next.js Frontend Web Service
After=network.target

[Service]
Type=simple
User=informatica
WorkingDirectory=/home/informatica/TrackFleet360/frontend
ExecStart=/usr/bin/npm run start -- -p 3000
Restart=always
RestartSec=3
Environment=NODE_ENV=production
Environment=PORT=3000
Environment=NEXT_PUBLIC_API_URL=https://trackfleet360.newcenturyni.com/api/v1

[Install]
WantedBy=multi-user.target
